---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/username-cdeab409-3717-4983-8cd6-999100b36d9e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWUtYWI1ZDAxMjUtMjYwYy00MTliLWI1NjgtNGY3MjVkMjA2NTZiOnBhc3N3b3JkLWIxNTc3MTM0LTk4MTEtNDk0MC05NjJhLWNhNTM2MzEyNDdlZA==
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4993'
      x-github-media-type:
      - github.beta
    body:
      encoding: UTF-8
      string: '{"message":"Not Found"}'
  recorded_at: Sat, 02 Mar 2013 11:29:28 GMT
- request:
    method: get
    uri: https://api.github.com/users/olly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWUtYWI1ZDAxMjUtMjYwYy00MTliLWI1NjgtNGY3MjVkMjA2NTZiOnBhc3N3b3JkLWIxNTc3MTM0LTk4MTEtNDk0MC05NjJhLWNhNTM2MzEyNDdlZA==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4992'
      last-modified:
      - Sat, 02 Mar 2013 10:25:29 GMT
      etag:
      - '"1776ef310a64400b14378d9215c9eae3"'
      x-github-media-type:
      - github.beta
    body:
      encoding: UTF-8
      string: '{"login":"olly","id":630,"avatar_url":"https://secure.gravatar.com/avatar/7a7a5a9574e745f49a65aaa6a93df3c8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"7a7a5a9574e745f49a65aaa6a93df3c8","url":"https://api.github.com/users/olly","html_url":"https://github.com/olly","followers_url":"https://api.github.com/users/olly/followers","following_url":"https://api.github.com/users/olly/following","gists_url":"https://api.github.com/users/olly/gists{/gist_id}","starred_url":"https://api.github.com/users/olly/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/olly/subscriptions","organizations_url":"https://api.github.com/users/olly/orgs","repos_url":"https://api.github.com/users/olly/repos","events_url":"https://api.github.com/users/olly/events{/privacy}","received_events_url":"https://api.github.com/users/olly/received_events","type":"User","name":"Oliver
        Legg","company":"New Bamboo","blog":"http://51degrees.net","location":"London","email":"","hireable":false,"bio":null,"public_repos":21,"followers":13,"following":26,"created_at":"2008-02-22T17:32:37Z","updated_at":"2013-03-02T10:25:29Z","public_gists":31}'
  recorded_at: Sat, 02 Mar 2013 11:29:28 GMT
[...]
