---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWUtYWI1ZDAxMjUtMjYwYy00MTliLWI1NjgtNGY3MjVkMjA2NTZiOnBhc3N3b3JkLWIxNTc3MTM0LTk4MTEtNDk0MC05NjJhLWNhNTM2MzEyNDdlZA==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4989'
      last-modified:
      - Fri, 01 Mar 2013 17:16:43 GMT
      etag:
      - '"873df4a8c820c2d539a3c87f31584851"'
      x-github-media-type:
      - github.beta
    body:
      encoding: UTF-8
      string: '{"login":"grimrepo","id":3740564,"avatar_url":"https://secure.gravatar.com/avatar/7d4abbc304f317d92aae5a6d87f2b0df?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"7d4abbc304f317d92aae5a6d87f2b0df","url":"https://api.github.com/users/grimrepo","html_url":"https://github.com/grimrepo","followers_url":"https://api.github.com/users/grimrepo/followers","following_url":"https://api.github.com/users/grimrepo/following","gists_url":"https://api.github.com/users/grimrepo/gists{/gist_id}","starred_url":"https://api.github.com/users/grimrepo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/grimrepo/subscriptions","organizations_url":"https://api.github.com/users/grimrepo/orgs","repos_url":"https://api.github.com/users/grimrepo/repos","events_url":"https://api.github.com/users/grimrepo/events{/privacy}","received_events_url":"https://api.github.com/users/grimrepo/received_events","type":"User","public_repos":0,"followers":0,"following":0,"created_at":"2013-03-01T17:16:24Z","updated_at":"2013-03-01T17:16:43Z","public_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"plan":{"name":"free","space":307200,"collaborators":0,"private_repos":0},"private_gists":0}'
  recorded_at: Sat, 02 Mar 2013 11:30:30 GMT
[...]
