---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/mojombo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWUtYWI1ZDAxMjUtMjYwYy00MTliLWI1NjgtNGY3MjVkMjA2NTZiOnBhc3N3b3JkLWIxNTc3MTM0LTk4MTEtNDk0MC05NjJhLWNhNTM2MzEyNDdlZA==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4942'
      last-modified:
      - Sun, 03 Mar 2013 22:52:55 GMT
      etag:
      - '"ce1340a1992ba0be3cd1f14a855267f6"'
      x-github-media-type:
      - github.beta
    body:
      encoding: UTF-8
      string: '{"login":"mojombo","id":1,"avatar_url":"https://secure.gravatar.com/avatar/25c7c18223fb42a4c6ae1c8db6f50f9b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"25c7c18223fb42a4c6ae1c8db6f50f9b","url":"https://api.github.com/users/mojombo","html_url":"https://github.com/mojombo","followers_url":"https://api.github.com/users/mojombo/followers","following_url":"https://api.github.com/users/mojombo/following","gists_url":"https://api.github.com/users/mojombo/gists{/gist_id}","starred_url":"https://api.github.com/users/mojombo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mojombo/subscriptions","organizations_url":"https://api.github.com/users/mojombo/orgs","repos_url":"https://api.github.com/users/mojombo/repos","events_url":"https://api.github.com/users/mojombo/events{/privacy}","received_events_url":"https://api.github.com/users/mojombo/received_events","type":"User","name":"Tom
        Preston-Werner","company":"GitHub, Inc.","blog":"http://tom.preston-werner.com","location":"San
        Francisco","email":"tom@github.com","hireable":false,"bio":"","public_repos":55,"followers":10360,"following":11,"created_at":"2007-10-20T05:24:19Z","updated_at":"2013-03-03T22:52:55Z","public_gists":66}'
  recorded_at: Sun, 03 Mar 2013 22:59:27 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/mojombo/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWUtYWI1ZDAxMjUtMjYwYy00MTliLWI1NjgtNGY3MjVkMjA2NTZiOnBhc3N3b3JkLWIxNTc3MTM0LTk4MTEtNDk0MC05NjJhLWNhNTM2MzEyNDdlZA==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4940'
      last-modified:
      - Sun, 03 Mar 2013 22:32:07 GMT
      etag:
      - '"82bd63fca371794e1827ae266a5095c9"'
      x-github-media-type:
      - github.beta
      link:
      - <https://api.github.com/users/mojombo/repos?page=2>; rel="next", <https://api.github.com/users/mojombo/repos?page=2>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":330651,"name":"bert","full_name":"mojombo/bert","owner":{"login":"mojombo","id":1,"avatar_url":"https://secure.gravatar.com/avatar/25c7c18223fb42a4c6ae1c8db6f50f9b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"25c7c18223fb42a4c6ae1c8db6f50f9b","url":"https://api.github.com/users/mojombo","html_url":"https://github.com/mojombo","followers_url":"https://api.github.com/users/mojombo/followers","following_url":"https://api.github.com/users/mojombo/following","gists_url":"https://api.github.com/users/mojombo/gists{/gist_id}","starred_url":"https://api.github.com/users/mojombo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mojombo/subscriptions","organizations_url":"https://api.github.com/users/mojombo/orgs","repos_url":"https://api.github.com/users/mojombo/repos","events_url":"https://api.github.com/users/mojombo/events{/privacy}","received_events_url":"https://api.github.com/users/mojombo/received_events","type":"User"},"private":false,"html_url":"https://github.com/mojombo/bert","description":"BERT
        (Binary ERlang Term) serialization library for Ruby.","fork":false,"url":"https://api.github.com/repos/mojombo/bert","forks_url":"https://api.github.com/repos/mojombo/bert/forks","keys_url":"https://api.github.com/repos/mojombo/bert/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mojombo/bert/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mojombo/bert/teams","hooks_url":"https://api.github.com/repos/mojombo/bert/hooks","issue_events_url":"https://api.github.com/repos/mojombo/bert/issues/events{/number}","events_url":"https://api.github.com/repos/mojombo/bert/events","assignees_url":"https://api.github.com/repos/mojombo/bert/assignees{/user}","branches_url":"https://api.github.com/repos/mojombo/bert/branches{/branch}","tags_url":"https://api.github.com/repos/mojombo/bert/tags{/tag}","blobs_url":"https://api.github.com/repos/mojombo/bert/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mojombo/bert/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mojombo/bert/git/refs{/sha}","trees_url":"https://api.github.com/repos/mojombo/bert/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mojombo/bert/statuses/{sha}","languages_url":"https://api.github.com/repos/mojombo/bert/languages","stargazers_url":"https://api.github.com/repos/mojombo/bert/stargazers","contributors_url":"https://api.github.com/repos/mojombo/bert/contributors","subscribers_url":"https://api.github.com/repos/mojombo/bert/subscribers","subscription_url":"https://api.github.com/repos/mojombo/bert/subscription","commits_url":"https://api.github.com/repos/mojombo/bert/commits{/sha}","git_commits_url":"https://api.github.com/repos/mojombo/bert/git/commits{/sha}","comments_url":"https://api.github.com/repos/mojombo/bert/comments{/number}","issue_comment_url":"https://api.github.com/repos/mojombo/bert/issues/comments/{number}","contents_url":"https://api.github.com/repos/mojombo/bert/contents/{+path}","compare_url":"https://api.github.com/repos/mojombo/bert/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mojombo/bert/merges","archive_url":"https://api.github.com/repos/mojombo/bert/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mojombo/bert/downloads","issues_url":"https://api.github.com/repos/mojombo/bert/issues{/number}","pulls_url":"https://api.github.com/repos/mojombo/bert/pulls{/number}","milestones_url":"https://api.github.com/repos/mojombo/bert/milestones{/number}","notifications_url":"https://api.github.com/repos/mojombo/bert/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mojombo/bert/labels{/name}","created_at":"2009-10-08T06:06:25Z","updated_at":"2013-02-19T05:52:12Z","pushed_at":"2012-05-25T22:03:32Z","git_url":"git://github.com/mojombo/bert.git","ssh_url":"git@github.com:mojombo/bert.git","clone_url":"https://github.com/mojombo/bert.git","svn_url":"https://github.com/mojombo/bert","homepage":"","size":184,"watchers_count":133,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":33,"mirror_url":null,"open_issues_count":7,"forks":33,"open_issues":7,"watchers":133,"master_branch":"master","default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":444244,"name":"bert.erl","full_name":"mojombo/bert.erl","owner":{"login":"mojombo","id":1,"avatar_url":"https://secure.gravatar.com/avatar/25c7c18223fb42a4c6ae1c8db6f50f9b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"25c7c18223fb42a4c6ae1c8db6f50f9b","url":"https://api.github.com/users/mojombo","html_url":"https://github.com/mojombo","followers_url":"https://api.github.com/users/mojombo/followers","following_url":"https:/[...]
- request:
    method: get
    uri: https://api.github.com/users/mojombo/repos?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWUtYWI1ZDAxMjUtMjYwYy00MTliLWI1NjgtNGY3MjVkMjA2NTZiOnBhc3N3b3JkLWIxNTc3MTM0LTk4MTEtNDk0MC05NjJhLWNhNTM2MzEyNDdlZA==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      [...]
- request:
    method: get
    uri: https://api.github.com/users/grimrepo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWUtYWI1ZDAxMjUtMjYwYy00MTliLWI1NjgtNGY3MjVkMjA2NTZiOnBhc3N3b3JkLWIxNTc3MTM0LTk4MTEtNDk0MC05NjJhLWNhNTM2MzEyNDdlZA==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
   [...]
- request:
    method: get
    uri: https://api.github.com/users/grimrepo/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWUtYWI1ZDAxMjUtMjYwYy00MTliLWI1NjgtNGY3MjVkMjA2NTZiOnBhc3N3b3JkLWIxNTc3MTM0LTk4MTEtNDk0MC05NjJhLWNhNTM2MzEyNDdlZA==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4937'
      x-github-media-type:
      - github.beta
      etag:
      - '"d751713988987e9331980363e24189ce"'
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Sun, 03 Mar 2013 22:59:30 GMT
recorded_with: VCR 2.4.0
